:host {
  height: calc(100% - 30px);
  display: flex;
}

.menu {
  width: 200px;
  margin: 10px;

  a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #070728;
    border-bottom: 2px solid #8f8f8f;

    &.active {
      border-bottom: 2px solid #393985;
    }
  }
}

:host {
  ::ng-deep {
    .examples-wrapper {
      > *:not(router-outlet) {
        height: 100%;
        display: flex;
      }
    }
  }
}

.examples-wrapper {
  flex: 1;
  overflow: hidden;
  height: 100%;
}
